<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link th:href="@{/css/header.css}" rel="stylesheet">
    <link th:href="@{/css/sidebar.css}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://kit.fontawesome.com/82c57657fe.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <script src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=y9v5nz40pr"></script>

</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
    body{
        font-family: 'Noto Sans KR', sans-serif;
    }
    #nav-menu ul li a{
        font-weight: bold;
        font-size: 20px;

    }
    .nav-pills .nav-link {
        padding: 15px; /* 패딩을 더 크게 설정하여 요소의 크기를 키웁니다. */
    }
</style>
<body>
<header class="p-3 mb-3 border-bottom" style=" margin-bottom: 0 !important; display: flex; flex-direction: row; " th:fragment="menu(v_menu)">
    <div>
        <a href="/main"><img src="/image/Logo.JPG" width="200px;" height="60px;"></a>
    </div>
    <div class="container">
        <div id="nav-menu" class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
<!--            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">-->
<!--                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>-->
<!--            </a>-->
            <th:block sec:authorize="hasAuthority('ROLE_USER')">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a style="font-size: 23px;font-weight: bold;" href="/main" class="nav-link" th:classappend="${v_menu eq 'home'} ? 'active'">HOME</a></li>
                <li><a style="font-size: 23px;font-weight: bold;" href="/user/findjob" class="nav-link" th:classappend="${v_menu eq 'find'}?'active'">알바찾기</a></li>
                <li><a style="font-size: 23px;font-weight: bold;" href="#" class="nav-link" th:classappend="${v_menu eq 'apply'}?'active'">지원현황</a></li>
                <li><a style="font-size: 23px;font-weight: bold;" href="#" class="nav-link" th:classappend="${v_menu eq 'msg'}?'active'">메시지</a></li>
            </ul>
            </th:block>
            <th:block sec:authorize="hasAuthority('ROLE_OWNER')">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a style="font-size: 23px;font-weight: bold;" href="#" class="nav-link" th:classappend="${v_menu eq 'home'} ? 'active'">HOME</a></li>
                <li><a style="font-size: 23px;font-weight: bold;" href="#" class="nav-link" th:classappend="${v_menu eq 'find'}?'active'">내 공고</a></li>
                <li><a style="font-size: 23px;font-weight: bold;" href="#" class="nav-link" th:classappend="${v_menu eq 'apply'}?'active'">직원찾기</a></li>
                <li><a style="font-size: 23px;font-weight: bold;" href="#" class="nav-link" th:classappend="${v_menu eq 'msg'}?'active'">메시지</a></li>
            </ul>
            </th:block>


<!--            권한이 있으면 -->
            <div style="margin-right: 10px;">
            <span th:style="${'font-weight:bold;font-size:20px'}" th:text="${#authentication.getPrincipal().getUname()}">사용자</span>
                <span th:style="${'font-weight:bold;font-size:20px'}" th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}" th:text="'알바님'">알바님</span>
                <span th:style="${'font-weight:bold;font-size:20px'}" th:if="${#authorization.expression('hasRole(''ROLE_OWNER'')')}" th:text="'사장님'">사장님</span>
<!--            <span th:style="${'font-weight:bold;font-size:20px'}"  th:text="${#authentication.authorities}">권한</span>-->
            </div>
            <div class="dropdown text-end" sec:authorize="isAuthenticated()">
                <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <img th:src="@{'/main/' + ${#authentication.getPrincipal().getProfileurl()}}" alt="mdo" width="50" height="50" class="rounded-circle">
                </a>
                <th:block sec:authorize="hasAuthority('ROLE_USER')">
                <ul class="dropdown-menu text-small">
<!--                    프로필 등록 여부에 따라 다르게 출력 -->
                    <li th:if="${#authentication.getPrincipal().getEnabled()}">
                        <a class="dropdown-item" th:href="@{'/user/profile/' + ${#authentication.getName()}}">내 프로필 보기</a>
                    </li>
                    <li th:unless="${#authentication.getPrincipal().getEnabled()}">
                        <a class="dropdown-item" th:href="@{'/user/profile/' + ${#authentication.getName()}}">프로필 등록</a>
                    </li>
                    <li><a class="dropdown-item" href="/user/profileChange">프로필 변경</a></li>
                    <li><a class="dropdown-item" href="#">설정</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/logout">로그아웃</a></li>
                </ul>
                </th:block>
                <th:block sec:authorize="hasAuthority('ROLE_OWNER')">
                <ul class="dropdown-menu text-small">
                    <li><a class="dropdown-item" th:href="@{'/owner/store/'+${#authentication.getName()}}">우리가게 정보</a></li>
                    <li><a class="dropdown-item" href="/owner/addEmployment">공고 올리기</a></li>
                    <li><a class="dropdown-item" href="#">직원찾기</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/logout">로그아웃</a></li>
                </ul>
                </th:block>
            </div>
<!--            권한이 없으면 -->
            <th:block sec:authorize="isAnonymous()">
            <div class="dropdown text-end" >
               <button type="button" class="btn btn-primary">로그인하기</button>
            </div>
            </th:block>
        </div>
    </div>
</header>

<div class="d-flex flex-nowrap" th:fragment="owner-nav(menu)">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px; height:100vh;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
            <span class="fs-4">돼찜 양산점</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-lg-2">
            <li th:if="${#authentication.getPrincipal().getEnabled()}" class="nav-item">
                <a th:href="@{'/owner/store/' + ${#authentication.getName()}}" class="nav-link text-white" th:classappend="${menu eq 'menu1'}?'active'"  aria-current="page">

                    내 가게 정보
                </a>
            </li>
            <li th:unless="${#authentication.getPrincipal().getEnabled()}" class="nav-item">
                <a href="/owner/store" class="nav-link text-white" th:classappend="${menu eq 'menu1'}?'active'"  aria-current="page">

                    가게등록
                </a>
            </li>
            <li>
                <a href="/owner/addEmployment" class="nav-link text-white" th:classappend="${menu eq 'menu2'}?'active'">

                   공고올리기
                </a>
            </li>
            <li>
                <a href="/owner/myEmploy" class="nav-link text-white" th:classappend="${menu eq 'menu3'}?'active'">

                  내 공고
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white" th:classappend="${menu eq 'menu4'}?'active'">

                    지원현황
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white" th:classappend="${menu eq 'menu5'}?'active'">

                    직원찾기
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white" th:classappend="${menu eq 'menu6'}?'active'">

                    메시지함
                </a>
            </li>

        </ul>
        <hr>
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                <strong>mdo</strong>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                <li><a class="dropdown-item" href="#">New project...</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
        </div>
    </div>




</div>
<div class="d-flex flex-nowrap" th:fragment="user-nav(menu)">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px; height:100vh;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
            <span class="fs-4" th:text="${#authentication.getPrincipal().getUname()}">사용자</span>
            <span class="fs-4" th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}" th:text="'알바님'">알바님</span>
            <span class="fs-4" th:if="${#authorization.expression('hasRole(''ROLE_OWNER'')')}" th:text="'사장님'">사장님</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-lg-2">
            <li class="nav-item">
                <a th:if="${#authentication.getPrincipal().getEnabled()}" th:href="@{'/user/profile/'+${#authentication.getName()}}" class="nav-link text-white" th:classappend="${menu eq 'menu1'}?'active'"  aria-current="page">

                    내 프로필 보기
                </a>
                <a th:unless="${#authentication.getPrincipal().getEnabled()}" href="/user/profileChange" class="nav-link text-white" th:classappend="${menu eq 'menu1'}?'active'"  aria-current="page">

                    프로필 등록하기
                </a>
            </li>
            <li th:if="${#authentication.getPrincipal().getEnabled()}">
                <a href="/user/profileChange" class="nav-link text-white" th:classappend="${menu eq 'menu2'}?'active'">

                   프로필 변경
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white">

                    공고찾기
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white">

                    지원현황
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white">

                    메시지함
                </a>
            </li>

        </ul>
        <hr>
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                <strong>mdo</strong>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                <li><a class="dropdown-item" href="#">New project...</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
        </div>
    </div>

</div>


</body>
</html>