<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragment/common :: head}">

</head>
<style>
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
body{
font-family: 'Noto Sans KR', sans-serif;
}
</style>
<body>

<header class="p-3 mb-3 border-bottom" th:replace="~{fragment/common :: menu(home)}">
</header>
<main class="d-flex">
<th:block sec:authorize="hasAuthority('ROLE_OWNER')">
<nav  th:replace="~{fragment/common :: owner-nav(menu)}">
</nav>
</th:block>
<th:block sec:authorize="hasAuthority('ROLE_USER')">
<nav  th:replace="~{fragment/common :: user-nav(menu)}">
</nav>
</th:block>

    <div class="container">
    </div>
</main>
</body>
</html>